.contributor {
    width: 24rem;
    background-color: #E1CA96;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.cont-link {
    text-decoration: none;
    color: black;
}
.cont-link:hover {
    color: #7B6D8D;
}

.cont-proj {
    background-color: #A5C4D4;
    border: 3px solid #A5C4D4;
}
.cont-proj:hover {
    background-color: #8499B1;
    border: 3px solid #7B6D8D;
}
/* $purple: #7B6D8D;
$dark-blue: #8499B1;
$light-blue: #A5C4D4;
$yellow: #E1CA96;
$red: #E86252; */